
Линейная алгебра/.DS_Store
.DS_Store
Линейная алгебра/.ipynb_checkpoints/linear_algebra-checkpoint.ipynb
01 - Базовый Python/.ipynb_checkpoints/basic_python-checkpoint.ipynb
02 - Предобработка данных/.ipynb_checkpoints/data_preprocessing-checkpoint.ipynb
03 - Исследовательский анализ данных/.ipynb_checkpoints/eda-checkpoint.ipynb
04 - Статистический анализ данных/.ipynb_checkpoints/statistical_analysis-checkpoint.ipynb
